alfabet = "abcdefghijklmnopqrstuvwxyz"
UiteindelijkeTekst = []

def shift(tekst, amount):  
  rotor1 = tekst[amount:26]
  rotor2 = tekst[0:amount]
  return rotor1 + rotor2
    
print(shift(alfabet,0))
print(shift(alfabet,1))
print(shift(alfabet,2))

rotor1 = Rotor(1, alfabet,  0)
rotor2 = Rotor(2, alfabet,  0)
rotor3 = Rotor(3, alfabet,  0)